*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;

    margin:0;
}
h1{
    font-size: 6rem;
    font-weight:bolder;
    margin: 0;
    padding: 0;
}
h1 .num1{
    color:rgb(247, 215, 37);
}
h1 .num2{
    color:rgb(0, 195, 255);
}
h1 .num3{
    color:crimson;
}
h1 .num4{
    color:rgb(123, 238, 15);
}


h1 .circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:crimson;
}
h1 .circle:nth-of-type(2){
    background-color:rgb(123, 238, 15);
}

h1 .circle:nth-of-type(3){
    background-color:rgb(247, 215, 37);
}

.connection-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.connection-container .text{
    font-size: 1.5rem;
    font-weight: 500;

}

.connection-container .toggle-container{
    margin:20px 0;
}
.toggle-container > *{
    margin-left: 10px;
    margin-right: 10px;
}
.toggle-container .check{
    /* visibility: hidden; */
    display: none;
}
.toggle-container .toggle{
    display:inline-block;
    width: 110px;
    height: 54px;
    background-color:rgb(184, 180, 180);
    border-radius: 50px;

    cursor: pointer;

    position: relative;
}
.check:checked + .toggle{
    background-color: rgba(255, 33, 33, 0.863);
}

.toggle .ball{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;

    position: absolute;
    top:7px;
    left:7px;

    animation: offani 0.3s linear forwards;
}
.check:checked + .toggle .ball{
    animation-name: onani;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes onani{
    0%{
          transform: translate(0) scale(1);
    }
    50%{
        transform: translate(28px) scale(1.3);
    }
    100%{
        transform: translate(56px) scale(1);
    }
}
@keyframes offani{
    0%{
          transform: translate(56px) scale(1);
    }
    50%{
        transform: translate(28px) scale(1.3);
    }
    100%{
        transform: translate(0) scale(1);
    }
}
